<div class="container-fluid">
  <h2>Upcoming Schedule</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Teacher</th>
        <th>Skill</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>3/17/2017 3:30 PM CDT</td>
        <td>Allen</td>
        <td>Guitar</td>
        <td><%= link_to 'Waiting on teacher', join_call_url(), :disabled => true, :class => 'btn btn-success' %></td>
      </tr>
      <tr>
        <td>3/24/2017 3:30 PM CDT</td>
        <td>Allen</td>
        <td>Guitar</td>
        <td><%= link_to 'Upcoming', '#', :disabled => true, :class => 'btn btn-default' %></td>
      </tr>
      <tr>
        <td>3/31/2017 3:30 PM CDT</td>
        <td>Allen</td>
        <td>Guitar</td>
        <td><%= link_to 'Upcoming', '#', :disabled => true, :class => 'btn btn-default' %></td>
      </tr>
      <tr>
        <td>4/7/2017 3:30 PM CDT</td>
        <td>Allen</td>
        <td>Guitar</td>
        <td><%= link_to 'Upcoming', '#', :disabled => true, :class => 'btn btn-default' %></td>
      </tr>
      <tr>
        <td>4/14/2017 3:30 PM CDT</td>
        <td>Allen</td>
        <td>Guitar</td>
        <td><%= link_to 'Upcoming', '#', :disabled => true, :class => 'btn btn-default' %></td>
      </tr>
    </tbody>
  </table>
</div>
